ion-header {
  padding-top: calc(env(safe-area-inset-top) + 8px);
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  gap: 1rem;
  scroll-snap-type: x mandatory;
}

ion-toolbar {
  ion-icon {
    font-size: 1.4rem;
  }
}

.day-card {
  flex: 0 0 auto;
  width: 140px;
  border-radius: 12px;
  padding: 0.75rem;
  background-color: #f3f4f6; // tom suave
  scroll-snap-align: start;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.icone-clima {
  border: #CCC solid 1px;
  border-radius: 15px;
  width: 64px;
  height: 64px;
  margin: 8px auto;
  display: block;
}

ion-card-title,
ion-card-subtitle {
  color: var(--ion-text-color, #000);
}

ion-card-header {
  color: var(--ion-text-color);
  text-align: center;
}

.clima-atual h2 {
  margin: 0;
  font-size: 2rem;
}

.titulo-previsao {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 24px;
  margin-bottom: 12px;
  color: var(--ion-color-medium);
}

.lista-previsao {
  padding-bottom: 60px;
}

.card-previsao {
  text-align: center;
  margin-bottom: 12px;
}

.card-previsao img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.clima-chuvoso {
  --ion-card-background: #a8c0ff;
  --ion-text-color: #1b1b1b;
}

.clima-nublado {
  --ion-card-background: #dcdcdc;
  --ion-text-color: #000;
}

.clima-ensolarado {
  --ion-card-background: #ffe082;
  --ion-text-color: #222;
}

.clima-neve {
  --ion-card-background: #e0f7fa;
  --ion-text-color: #004d40;
}

.clima-padrao {
  --ion-card-background: #ffffff;
  --ion-text-color: #000;
}